ej_1/*
ej_2/*
deep_learning/data/*
deep_learning/samples/*
deep_learning/TO_DO_LIST.txt
*.txt
*.bmp
*.pdf
*.jpg
*.jpeg
*.sai
*.png
*.zip
*.h5
*.pyc
*.ppt
*.pptx
beca
results_alt/
deep_learning/Robert/
deep_learning/images.h5
deep_learning/results/